.table-column-controls
  left 50px
  width 100px

  .column-drag-handle
    cursor ns-resize

.selected-columns-container
  padding 8px

.column-controls-body
  overflow-y scroll
  height 100%
  flex 1

.rank-aggregation-controls-visible .table-column-controls
  left 130px

.table-column-controls-load-all-columns
  margin 8px
  padding 8px 16px
  border-radius 4px
  background rgba(0, 0, 0, 0.05)
  cursor pointer
  border 1px solid transparent
  display flex
  align-items center
  justify-content center
  &:hover
    border 1px solid rgba(0, 0, 0, 0.23)

.column-category-container
  padding 8px
  margin-bottom 8px
  display flex
  flex-direction column
  overflow-y auto