.controls-button
  padding 0.25rem 0.5rem
  border-radius 3px
  display flex
  justify-content center
  align-items center
  font-weight 600
  cursor pointer
  &:hover
    box-shadow #D0D0D0 4px 4px 0px 0px