.base-Popper-root:not(.MuiTooltip-popper)
    z-index 1000
    border-radius 6px
    background white
    position relative
    box-shadow $box_shadow
    display flex
    flex-direction column
    max-width calc(100vw - 24px)
    max-height 70vh
    min-width 260px
    overflow hidden
