.column-item
  position relative
  display flex
  align-items center
  user-select none
  border-radius 3px
  font-size 14px
  min-height 28px
  padding 0 8px
  flex-wrap wrap
  border 1px solid transparent

  &.column-expanded
  &.more-menu-open
    border 1px solid #e0e0e0
    background rgba(233, 233, 233, 0.5)

  &.prefix
    background darken(white, 4%)

  &.shown
    background rgba(21, 255, 0, 0.334)
  
  .column-action
    margin-right 14px

  .column-name
    flex 1
    font-family "Roboto","Helvetica","Arial",sans-serif
    font-weight 400
    font-size 1rem
    line-height 1.5
    letter-spacing 0.00938em

  .column-category
    font-family IBM Plex Mono,monospace

  .column-data-type
    display flex
    align-items center
    justify-content center
    margin-left 10px
    margin-right 4px

    svg
      width 16px
      height 16px

@media (pointer:fine)
  .column-item
    .column-action
      opacity 0
      transition opacity 20ms ease-in 0s

    &:hover
      background rgba(233, 233, 233, 0.5)

      .column-action
        opacity 1
        transition opacity 20ms ease-in 0s