.table-splits-controls.table-expanding-control-container
  left 251px
  width 90px

  &.-open
    height fit-content
    width 300px
    min-width 300px

@media (max-width: 768px)
  .table-splits-controls.table-expanding-control-container.-open
    width 90vw