.table-splits-controls.table-expanding-control-container
  width var(--rt-slot-splits-width)
  left var(--rt-slot-splits-left)

  &.-open
    height fit-content
    width 300px
    min-width 300px

  .table-expanding-control-input-container
    padding 8px 16px

@media (max-width: 768px)
  .table-splits-controls.table-expanding-control-container.-open
    width 90vw