.table-splits-controls.table-expanding-control-container
  width 90px

  &.-open
    height fit-content
    width 300px
    min-width 300px

  .table-expanding-control-input-container
    padding 8px 16px

@media (max-width: 768px)
  .table-splits-controls.table-expanding-control-container.-open
    width 90vw

@media (min-width 601px)
  .table-splits-controls.table-expanding-control-container
    left 251px

@media (max-width 600px)
  .table-splits-controls.table-expanding-control-container
    left 198px