.table-filter-item
  position relative
  border-radius 3px
  padding 4px 8px
  margin 8px 4px !important
  display flex
  flex-direction column
  background white
  cursor pointer
  user-select none
  min-height 35px
  flex 0 0 auto
  &:hover
    background white
    .table-filter-item-label
      color $accentColor

.table-filter-item-label
  font-size 0.6875rem
  font-weight 700
  color lighten($textColor, 40%)
  text-transform uppercase
  letter-spacing 0.02em

.table-filter-item-dropdown
  background white
  min-width 150px
  display flex
  flex-direction column
  border-radius 6px

.table-filter-item-dropdown-body
  display flex
  flex-direction column
  max-height 250px
  overflow hidden
  overflow-y scroll
  border-radius 0 0 3px 3px

.table-filter-item-dropdown-item
  flex 1
  padding 8px 16px
  display flex

  &.selected
    background rgba(25, 118, 210, 0.08)

  &:hover
    background #fafafa

  .MuiCheckbox-root
    padding 0 9px 0 0

  .MuiSvgIcon-root
    width 16px
    height 16px

.table-filter-item-selection
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  max-width 126px

.table-filter-item-dropdown-head
  display flex
  border-bottom 1px solid $borderColor
  justify-content flex-start
  padding 8px
  gap 12px

  .controls-button
    background #f0f0f0
    border 1px solid #e0e0e0

    &.close
      margin-left auto

.table-filter-item-dropdown-action
  background #f0f0f0
  padding 0.25rem 0.5rem
  border-radius 3px
  display flex
  justify-content center
  align-items center
  &:hover
    background darken(#f0f0f0, 30%)

@media (max-width 800px)
  .table-filter-item-dropdown-action
    min-height 32px
    min-width 48px
