.MuiPopperUnstyled-root:not(.MuiTooltip-popper)
    z-index 1000
    border-radius 4px
    background white
    position relative
    box-shadow rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px
    display flex
    flex-direction column
    min-width 260px
    max-width calc(100vw - 24px)
    max-height 70vh

.loading
  display flex
  align-items center
  justify-content center
  margin-top 4px
  height 4px
  width 100%
  position sticky
  left 0
  top 0
  z-index 1

  .MuiLinearProgress-root
    height 4px
    width 100%
    max-width 600px
    
.table
  padding-left 96px

  .panel
    display flex
    align-items center
    justify-content space-between
    position sticky
    left 116px
    width fit-content
    padding-top 12px
    padding-bottom 8px

  .state
    display flex
    align-items center
    .state-item
      border-radius 14px
      margin-right 6px
      display inline-flex
      .state-item-content
        user-select none
        transition background 20ms ease-in 0s
        cursor pointer
        font-size 14px
        display inline-flex
        align-items center
        justify-content center
        white-space nowrap
        border-radius 32px
        height 24px
        line-height 24px
        padding 0px 8px
        border 1px solid rgba(35, 131, 226, 0.35)
        color rgb(35, 131, 226)
        background rgba(35, 131, 226, 0.03)
        svg
          position relative
          height 0.8em
          width 0.8em

  .controls
    display flex
    justify-content flex-end
    padding 2px 8px
    padding-right 96px
    align-items center
    min-width fit-content

    button
    .table-view-menu
      margin-right 8px
      min-width fit-content

  &.noselect
    -webkit-touch-callout none
    -webkit-user-select none
    -khtml-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none

  .row
    display flex
    height 100%
    width fit-content

    .cell
      white-space nowrap
      margin 0 
      position relative
      cursor pointer

      &.group_end
        border-right 1px solid $borderColor

      &.sorted
        background-color rgba(245, 245, 245, 0.6)

      &.sticky
        position sticky
        left 0
        z-index 1
        background-color inherit

    .cell-content
      height 100%
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      padding 0 8px

  .body
    .cell
      &:hover
        background-color #b9d4ff

    .row
      &:hover
        background-color white

  .header
    width fit-content
    position sticky
    top -1px
    z-index 2
    font-size 11px
    font-weight 800
    letter-spacing 1px
    text-transform uppercase

    .row
      height 24px

    .cell
      line-height 120%
      background-color $backgroundColor

    .cell:not(.column-index)
      border-right 1px solid $borderColor

      &.border_bottom
        border-bottom 1px solid $borderColor

    .row:nth-child(1) .cell:not(.column-index)
      border-top 1px solid $borderColor

  .footer
    height 33px
    width fit-content
    position sticky
    bottom 0
    z-index 1
    .cell
      border-top 1px solid $borderColor
      background-color $backgroundColor

  .resizer
    display inline-block
    background transparent
    width 8px
    height 100%
    position absolute
    right 0
    top 0
    transform translateX(50%)
    z-index 1
    cursor col-resize
    touch-action none

    &:hover
      background-color #8ecae6

  .header-icon
    margin-right 4px

  .header-sort-icon
    margin-left 4px

  .header-icon
  .header-sort-icon
    svg
      position relative
      height 0.9em
      width 0.9em
      top 0.125rem

  .cell.column-index
    width 30px
    font-size 9px
    border-top none
    border-bottom none
    background transparent
    .cell-content
      display flex
      align-items center

  .filters
    display flex
    padding 0 10px
    flex-direction column

    .filter-items
      display flex
      flex-wrap wrap

  .filters-expand-button
    height 24px
    margin-bottom 4px

  .filter_items
    display flex