.table-filter-modal.MuiModal-root
  z-index 4

.filter-controls-container
  width 90px
  left 104px

  .filter-item
    display flex
    padding 10px 4px
    flex-wrap wrap
    gap 8px
    border 1px solid transparent
    background #fafafa

    &.filter-item-expanded
      border 1px solid #e0e0e0
      background rgba(233, 233, 233, 0.5)


  .filter-item-right 
    display flex
    align-items center
    justify-content flex-end

    button
      min-width fit-content

  .filter-item-left
    flex 1
    display flex
    gap 8px

    .MuiInputBase-root
    .MuiFormControl-root
      width 100%

  .filter-item-left-column
    flex 1
    word-break break-word
    white-space normal
    display flex
    align-items center

  .filter-item-left-operator-and-value-container
    display flex
    gap 8px

.misc-menu.base-Popper-root
  min-width 160px !important
  padding 4px

.misc-menu-item
  display flex
  align-items center
  padding 0 10px
  cursor pointer
  min-height 28px
  gap 8px

  .MuiSvgIcon-root
    width 16px
    height 16px

  &:hover
    background #f5f5f5

  .misc-menu-item-text
    font-size 14px

  .misc-menu-item-icon
    width 34px
    display flex
    align-items center
    justify-content center

.table-filter-add-content
  display flex

.table-filter-add-button
  flex 1
  display flex
  align-items center
  justify-content center
  margin 10px 12px
  padding 10px
  cursor pointer
  border-radius 4px
  font-size 12px
  background #fafafa

  .MuiSvgIcon-root
    width 18px
    height 18px
    margin-right 8px

  &:hover
    background #e5e5e5

.column-category
  padding-top 4px
  padding-bottom 4px
  padding-right 16px
  border-radius 6px
  .MuiTypography-root
    font-size 0.875rem
    line-height 1.5
    color #1C2025
    font-weight 600

.column-category-depth-0
  padding-left 2px !important

.column-category-depth-1
  padding-left 36px !important
  &:before
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 9.5px;
    height: 100%;
    width: 1px;
    opacity: 1;
    background: #E5EAF2

  &.ledger__chart--selected:before
    background hsl(210, 100%, 60%)

.column-category-depth-2
  padding-left 72px !important
  &:before
    content: ""
    display block
    position: absolute
    z-index 1
    left 44px
    height 100%
    width 1px
    opacity 1
    background #E5EAF2

.column-category-depth-3
  padding-left 90px !important

.table-selected-filters-container
  border-top 1px solid rgba(0, 0, 0, 0.23)
  border-bottom 1px solid rgba(0, 0, 0, 0.23)
  overflow hidden
  overflow-y scroll
  height 100%
  transition max-height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms

.filter-control-item
  .filter-item-right-action
    display none

  &:hover
    .filter-item-right-action
      display block

.rank-aggregation-controls-visible .filter-controls-container
  left 184px

@media (max-width 600px)
  .filter-item-left
  .filter-item-right
    flex-direction column