.table-rank-aggregation-container
  left 0
  width 72px

.table-rank-aggregation-content
  overflow hidden
  overflow-y scroll
  padding 10px 0

  .rank-item
    display flex
    padding 4px

  .rank-item-column
    flex 2
    padding-left 10px

  .rank-item-weight
    flex 1
    padding-left 10px

.table-rank-aggregation-add-button
  flex 1
  display flex
  align-items center
  justify-content center
  margin 10px 12px
  padding 10px
  cursor pointer
  border-radius 4px
  font-size 12px
  background #fafafa

  .MuiSvgIcon-root
    width 16px
    height 16px

  &:hover
    background #e5e5e5