.selected-columns-parameters
  display flex
  width 400px
  height 400px
  display flex
  flex-direction column
  border-radius 30px

.selected-columns-parameters-header
  font-family "IBM Plex Mono", monospace
  display flex
  justify-content space-between
  align-items center
  padding 10px
  background #f0f0f0
  border-bottom 1px solid #e0e0e0

  .controls-button
    background white
    border 1px solid #d0d0d0

.selected-columns-parameters-body
  display flex
  flex-wrap wrap
  padding 10px
  overflow-y scroll
  background #f0f0f0
