.selected-columns-parameters
  display flex
  width 400px
  height 400px
  display flex
  flex-direction column
  background #f0f0f0

.selected-columns-parameters-header
  font-family "IBM Plex Mono", monospace
  display flex
  justify-content space-between
  align-items center
  padding 10px
  border-bottom 1px solid #e0e0e0

  .controls-button
    background white
    border 1px solid #d0d0d0

.selected-columns-parameters-body
  display flex
  overflow-y scroll
  flex-direction column
  gap 10px
  width 100%

  .section-header
    font-family "IBM Plex Mono", monospace
    font-size 12px
    text-transform uppercase
    color #666
    position sticky
    top 0px
    background white
    z-index 2
    padding 2px 10px


.param-filter-container
  padding 10px
  border-bottom 1px solid #d0d0d0
  background white

.parameters-container
  padding 10px
  display flex
  flex-wrap wrap