.column-param-range-filter
  padding 16px
  display flex
  flex-direction column
  gap 8px
  align-items center
  justify-content center
  text-align center

.column-param-range-filter-buttons
  display flex
  gap 8px
  align-items center
  justify-content center
  text-align center