@import '../styles/variables.styl'

.select-filter-with-overrides-panel
  background white
  min-width 200px
  display flex
  flex-direction column
  border-radius 6px

  &.overrides-active
    flex-direction row
    width calc(100vw - 32px)
    max-width 800px
    height 400px

  .select-options-section
    display flex
    flex-direction column
    max-height 350px
    overflow-y auto
    flex-shrink 0

  &.overrides-active .select-options-section
    border-right 1px solid rgba(0, 0, 0, 0.12)
    min-width 200px
    max-height none
    overflow-y auto

  &.overrides-active .override-section
    border-top none

  @media (max-width 540px)
    &.overrides-active
      flex-direction column
      min-width 200px

    &.overrides-active .select-options-section
      border-right none
      border-bottom 1px solid rgba(0, 0, 0, 0.12)
